body {
  background-color: #ADD8E6;
  margin-top: 300px;
  margin-bottom: 300px;
  margin-right: 450px;
  margin-left: 350px;
  text-align: center;

  font-family: Bodoni MT, regular;
  font-weight: 900;
  font-style: normal;
}
a {
  color: white;
  text-align: center;
}
a:hover {
  color: #F7BFF7;
}
