body {
  background-color: #f9bbcd;
  color: #BBECF9
  margin-top: 300px;
  margin-bottom: 300px;
  margin-right: 450px;
  margin-left: 350px;

  font-family: 본고딕 KR, heavy;
  font-weight: 900;
  font-style: normal;
}

a:link {
  color: #f9e7bb;
}

a:visited {
  color: #f9e7bb;
}

h1 {
  color: #ffd0ec;
  text-align: center;
  margin-top: 100px;
}
h2 {
  color: #ffd0ec;
  text-align: center;
  margin-top: 100px;
}
p {
  color: #ffd0ec;
  text-align: center;
  margin-top: 100px;
}
a {
  color: purple;
}
a:hover {
  color: pink;
}
