.shape1 {
  background-color: blue;
  width: 25px;
  height: 100px
  margin: -15px -3.75px;
  float: left;
  opacity: .7;
    border: 3px solid grey
}
.shape2 {
  background-color: grey;
  width: 25px;
  height: 100px
  margin: -15px -3.75px;
  float: left;
  opacity: .7;
    border: 5px solid blue
}
.shape3 {
  background-color: black;
  width: 25px;
  height: 100px
  margin: -15px -3.75px;
  float: left;
  opacity: .7;
    border: 1px solid black
}
.shape2_1{
  width: 50px;
  height: 155px;
  background-color: red;
  float: left;
  margin: -7px;
  opacity: .7;
  border: 5px solid black
}
.shape2_2{
  width: 150px;
  height: 155px;
  background-color: #707053;
  float: left;
  margin: -5px;
  opacity: .10;
  border: 2px solid black
}
.shape2_3{
  width: 150px;
  height: 200px;
  background-color: pink;
  float: left;
  margin: -7px;
  opacity: .5;
  border: 8px solid black
}
.shape3_1{
  width: 500px;
  height: 500px;
  background-color: #706584;
  float: left;
  margin: -7px;
  opacity: .10;
  border: 2px solid black
}
.shape3_2{
  width: 400px;
  height: 400px;
  background-color: #706584;
  float: left;
  margin: -7px;
  opacity: .20;
  border: 2px solid black
}
.shape3_3{
  width: 300px;
  height: 300px;
  background-color: pink;
  float: left;
  margin: 10px;
  opacity: .5;

}
.shape4_1{
  width: 50px;
  height: 155px;
  background-color: #005598;
  float: right;
  margin: -13px;
  opacity: .50;
  border: 5px solid grey
}
.shape4_2{
  width: 300px;
  height: 200px;
  background-color: #e5ffe1;
  float: left;
  margin: -5px;
  opacity: .6;
  border: 2px solid grey
}
.shape4_3{
  width: 150px;
  height: 200px;
  background-color: #fff5d4;
  float: left;
  margin: -7px;
  opacity: .5;
  border: 8px solid grey
}
.shape5_1{
  width: 50px;
  height: 155px;
  background-color: #152238;
  float: right;
  margin: -13px;
  opacity: .50;
  border: 5px solid yellow
}
.shape5_2{
  width: 300px;
  height: 200px;
  background-color: #dcedc1;
  float: left;
  margin: -5px;
  opacity: .6;
  border: 2px solid red
}
.shape5_3{
  width: 150px;
  height: 200px;
  background-color: #cadde2;
  float: left;
  margin: -7px;
  opacity: .5;
  border: 8px solid blue
}
