.shape1 {
  background-color: blue;
  width: 25px;
  height: 100px
  margin: -15px -3.75px;
  float: left;
  opacity: .7;
}
.shape2 {
  background-color: grey;
  width: 25px;
  height: 100px
  margin: -15px -3.75px;
  float: left;
  opacity: .7;
}
.shape3 {
  background-color: black;
  width: 25px;
  height: 100px
  margin: -15px -3.75px;
  float: left;
  opacity: .7;
  transform: rotateX(60);
}
.shape2_1{
  width: 50px;
  height: 155px;
  background-color: red;
  float: left;
  margin: -7px;
  opacity: .7;
  border: 5px solid black
}
.shape2_2{
  width: 150px;
  height: 155px;
  background-color: #707053;
  float: left;
  margin: -5px;
  opacity: .10;
  border: 2px solid black
}
.shape2_3{
  width: 150px;
  height: 200px;
  background-color: pink;
  float: left;
  margin: -7px;
  opacity: .5;
  border: 8px solid black
}
