body {
  background-color: #f9bbcd;
  margin-top: 300px;
  margin-bottom: 300px;
  margin-right: 450px;
  margin-left: 350px;

  font-family: IvyMode, regular;
  font-weight: 900;
  font-style: normal;
}

a:link {
  color: #E3EDF5;
}

a:visited {
  color: #E3EDF5;
}
h4 {
  color: white
  font-family: IvyMode, SemiBold Italic;
  font-weight: 900;
  font-style: normal;
}
h1 {
  color: #ACC4D6;
  text-align: center;
  margin-top: 100px;
}
h2 {
  color: #ACC4D6;
  text-align: center;
  margin-top: 100px;
}
p {
  color: #03AB99;
  text-align: center;
  margin-top: 100px;
}
li {
  color: white
  font-family: IvyMode, Light Italic;
  font-weight: 900;
  font-style: normal;
}
a {
  color: purple;
}
a:hover {
  color: pink;
}
