body {
  background-color: #002221;
  margin-top: 300px;
  margin-bottom: 300px;
  margin-right: 450px;
  margin-left: 350px;

  font-family: Quicksand, regular;
  font-weight: 900;
  font-style: normal;
}

h4 {
  color: white
  font-family: Capucine Basic, light;
  font-weight: 900;
  font-style: normal;
  text-align: center;
}
h1 {
  color: #ACC4D6;
  text-align: center;
}
h2 {
  color: #ACC4D6;
  text-align: center;
}
p {
  color: #03AB99;
  text-align: center;
  margin-top: 100px;
}
li {
  color: white
  font-family: Capucine Basic, light;
  font-weight: 900;
  font-style: normal;
  text-align: center;
}
